* {
  margin: 0;
  padding: 0;
  color: white!important;
}

body { 
    background-image: url('../img/glug-banner.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

a.item {
  float:right;
  color: white!important;
}

.menu {
  padding-top: 10px;
  flex:1 1 auto;
}

.right.menu {
  width:20px;
  overflow: visible;
}

.searchItem {
  width: 100%;
}

.item.searchItem {
  padding-right: 40px!important;
}

.searchItem input{
  color: black!important;
}

.headerLogo {
  margin:auto;
  display:block;
  margin-top: 12px !important;
}

body {
  background-color: #3791D5;
  padding: 125px;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 600px;
}

input {
  width: 70vw;
}

a.ui.card:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.ui.card {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.ui.button {
  background-color:#21BA45; 
}

.coverImage {
  height: 250px;
  float: left;
  margin: 20px;
}

th {
  color: black !important;
}

td {
  color: black !important;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
